<app-navigation></app-navigation>
<div class="container pt-3 pb-2">
<div class="card">
    <h5 class="card-header">Sensor Readings</h5>
    <div class="card-body">
        <div style="display: block;">
            <canvas baseChart width="200" height="80"
              [datasets]="lineChartData"
              [labels]="lineChartLabels"
              [options]="lineChartOptions"
              [colors]="lineChartColors"
              [legend]="lineChartLegend"
              [chartType]="lineChartType"
              [plugins]="lineChartPlugins">
            </canvas>
          </div>
    </div>
  </div>
</div>
<app-weatherwidget></app-weatherwidget>